* {
  margin: 0;
}
/* body {
  background-image: linear-gradient(
    135deg,
    #fdfcfb 0%,
    #e2d1c3 100%
  ) !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background:transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
